.idea
.vscode
Core/tplibs

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/bin/
bin-int/
obj/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user